/* 

*/
body {
  background: radial-gradient(rgb(71, 66, 66), rgb(29, 28, 28));
  min-height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
}

.logo {
  max-width: 50%;
}

.section2 {
  background: rgb(71, 66, 66);
}
